/* @import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap");

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    /* font-family: Dosis, sans-serif !important; */
}

.dosis {
  font-family: Dosis, sans-serif;
}

@tailwind base;
/* Write your own custom base styles here */

/* Start purging... */

@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */


/* Start purging... */

@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.text-silver {
  background: radial-gradient(#eff1ff, #000);
  background-size: 100% 200%;
  background-position: 50% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-white {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255,255,255,0.72);
}

.bg-line {
  background: #01a04b;
}

.text-gold {
  background-image: linear-gradient(
    135deg,
    #b8751e,
    #ffce08 37%,
    #fefeb2 47%,
    #fafad6 50%,
    #fefeb2 53%,
    #e1ce08 63%,
    #b8751e
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.marker-yellow {
  background: linear-gradient(transparent 60%, #ffff66 60%);
}


.headline img:not(.no-grow):hover {
  transform: scale(1.1);
}
.headline img:not(.no-grow) {
  transition: all 0.2s ease-in-out;
}

.text-125 {
  font-size: 125%;
}

.text-180 {
  font-size: 180%;
}



.char {
    display: inline-block;
    animation-delay: calc(.25s + var(--char-index) * .1s);
    transition: all .25s calc(.25s + var(--char-index) * .1s);
}
.text--enter [data-scroll='out'] .char {
  opacity: 0;
  transform: translate(0, -150%);
}
.text--enter .char {
  opacity: 1;
  transform: translate(0, 0);
}

/* scroll trigger */
[data-scroll="in"] .char {
  opacity: 1;
}

/* adjust height for carousel */
@media (max-width: 768px) {
  .slide {
    min-height: 855px;
  }
}
@media (min-width:768px) and ( max-width:1024px) {
  .slide {
    min-height: 1147px;
  }
}

/* Bugfix for slick.js */

.slick-slider {
  display: table !important;
  table-layout: fixed !important;
  width: 100% !important;
}


@-webkit-keyframes scrollSmall {
  0% {
    transform: rotate(-13deg) translateY(0);
  }
  to {
    transform: rotate(-13deg) translateY(-639px);
  }
}
@keyframes scrollSmall {
  0% {
    transform: rotate(-13deg) translateY(0);
  }
  to {
    transform: rotate(-13deg) translateY(-639px);
  }
}
@-webkit-keyframes scrollLarge {
  0% {
    transform: rotate(-13deg) translateY(0);
  }
  to {
    transform: rotate(-13deg) translateY(-1278px);
  }
}
@keyframes scrollLarge {
  0% {
    transform: rotate(-13deg) translateY(0);
  }
  to {
    transform: rotate(-13deg) translateY(-1278px);
  }
}
.scroll-bg {
  -webkit-animation-name: scrollSmall;
  animation-name: scrollSmall;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@media (min-width: 1024px) {
  .scroll-bg {
    -webkit-animation-name: scrollLarge;
    animation-name: scrollLarge;
    -webkit-animation-duration: 35s;
    animation-duration: 35s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
}